.pageSelect {
  padding: 1% 0 0;
  height:10vh;
  width:100vw;
  user-select: none;
  color:white;
  background-color: #333;
}

.link {
  margin: 10px 0;
}

.Bar {
  height: 2px;
  background: #0091EA;
  transition: transform 1s ease, width 1s ease;
  position: absolute;
}

.Menubar {
  padding:0 0.5%;
  margin:0 2.5%;
  z-index: 1;
  cursor: pointer;
  display: inline-block;
  align-items: start;
  font-size: clamp(20px,5vh,30px);
}

.Menubar:hover{
  color:rgb(110, 110, 110);
}

.prev-fade-in {
  opacity: 0;
}

.fade-in {
  opacity: 1;
  transition: opacity 2s ease;
}

.headerTitle{
  position:absolute;
  right:1vw;
  font-size: clamp(20px,5vh,30px);
}