.tool{
    flex:0 0 60px;
    height:60px;
    overflow: hidden; /* オーバーフロー時の処理 */
    white-space: normal; /* 自動折り返しを有効に */
    word-wrap: break-word; /* 長い単語の折り返し */
    border:1px black solid;
    color:black;
    cursor: pointer;
}

.tool:hover{
    background-color: gray;
}