body {
    margin: 0;
}

.orderWrapper {
    display: grid;
    grid-template-rows: 0fr 0fr 10fr 0fr 0fr;
    height:100svh;
}

.tab-name {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 10svh;
}

.seat-number {
    margin-right: 5%;
}

.footer-tab {
    height: 5svh;
}
