.simulator {
    border: 1px black solid;
    /* border-radius: 20px; */
    overflow: scroll;
    /* 要素内でテキストを折り返す */
    word-wrap: break-word;
    /* または以下でも可 */
    word-break: break-all;
    /* position:absolute; */
    height: 50vh;
}

.simulator::-webkit-scrollbar {
    /* display: none; */
    /* スクロールバーを非表示 */
}