.userProfile-container {
  top: 0;
  left: 0;
  padding: 10px;
  /* 画像が端にくっつかないよう余白を設定 */
  display: flex;
  /* 横並びにする */
  align-items: center;
  /* 中央揃えにする */
}

.userProfile-image {
  width: 100px;
  /* 画像のサイズ */
  height: 100px;
  border-radius: 50%;
  /* 丸くする */
  object-fit: cover;
  background-color: orange;
}

.userProfile-name-input {
  width:40vw;
  font-size: 22px;
  font-weight: bold;
  margin-left: 10px;
  padding: 5px;
  border: none;
  /* 全体の枠を消す */
  border-bottom: 2px solid #333;
  /* 下線を追加 */
  background-color: transparent;
  outline: none;
  /* フォーカス時の青枠を消す */
}

.userProfile-name-input:focus {
  border-bottom: 2px solid #007bff;
  /* フォーカス時の下線色を変更 */
}
.userProfile-save-button {
  background-color: #2196F3; /* ボタンの背景色 */
  color: white; /* 文字色 */
  border: none; /* ボーダーなし */
  border-radius: 5px; /* 角を丸くする */
  padding: 10px 20px; /* 内側の余白 */
  font-size: 16px; /* フォントサイズ */
  cursor: pointer; /* カーソルをポインタに変更 */
  transition: background-color 0.3s, transform 0.2s; /* トランジション効果 */
}

.userProfile-save-button:hover {
  background-color: #1976D2; /* ホバー時の背景色 */
  transform: translateY(-2px); /* ホバー時にボタンを少し上に動かす */
}

.userProfile-save-button:active {
  transform: translateY(0); /* クリック時に元の位置に戻す */
}
